:root {
    --green-main: #2F855A;
    --green-accent: #38B2AC;
    --honey-yellow: #F6C453;
    --brown-main: #6A4F4F;
    --white: #FFFFFF;
    --gray-bg: #F9FAFB;
    --gray-card: #F3F4F6;
    --gray-border: #E5E7EB;
    --gray-text: #6B7280;
    --text-dark: #1F2937;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.harvest-page {
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 120px;
    background: #319795;
}

.harvest-main{
    padding: 3%;
}

.harvest-title {
    font-size: 17px;
    font-weight: 600;
    color: #285453;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.harvest-sec{
    padding: 14px;
}

.back-btn,
.edit-btn {
    width: 50px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.button-img {
    width: 20px;
    height: 20px;
    opacity: 0.85;
}


.add-harvest {
    position: fixed;
    bottom: 80px;
    right: 16px;
    color: #1F2937;
    background: #fdd169;
    padding: 14px 22px;
    border-radius: 50%;
    font-size: 20px;
}

.add-harvest:hover {
    background-color: var(--green-accent);
    transform: translateY(-2px);
}

.harvest-summary {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    margin: 16px 0;
    font-weight: 500;
    font-size: 15px;
    color: #1F2937;
}

.harvest-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #1F2937;
}

.harvest-card {
    background: #fff;
    border-radius: 16px;
    padding: 12px 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.harvest-mark {
    font-size: 14px;
    color: #1F2937;
    text-align: left;
}


.harvest-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

.harvest-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.harvest-date {
    font-size: 14px;
    color: #6B7280;
    white-space: nowrap;
}

.empty-text {
    text-align: center;
    color: var(--gray-text);
    margin-top: 40px;
    font-size: 16px;
}

.saveBtn{
    background-color: #F6C453;
    color: #1F2937;
}

.form{
    margin-top: 45%;
}